<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Timer</title>
    <script src={{ url_for('static', filename = 'add_timer.js') }}></script>
</head>
<body>
<div id="inputdiv">
    <form action="#" method = "POST" />
        <p>Name:</p>
        <input type="text" name="name" required/>
        <p>Date:</p>
        <input type="date" name="date" required/>
        <p>Time</p>
        <input type="time" name="time" required/>
        <p></p>
        <input type="submit" >

    </form>

</div>
</body>
</html>